<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Client profile: {{ client.getName }}</h1>
    <form action="/stylist/{{ stylist.getiD}}" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" name="button">delete this client</button>
    </form>
    <form action="/editclient/{{ client.getId }}" method="post">
      <input name="_method" type="hidden" value="patch">
      <input type="text" name="client_name" value="">
      <button type="submit" name="button">edit this client's name</button>
    </form>
  </body>
</html>
