<!DOCTYPE html>
<html>
    <head>
    <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    <title>Edit Client</title>
    </head>
    <body>
        <div class="container">
            <h1>Client profile: {{ client.getName }}</h1>
            <form action="/editclient/{{ client.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <input type="text" name="client_name" value="">
                <button type="submit" name="button" class="btn btn-info" >edit this client's name</button>
            </form>
            <form action="/editclient/{{ client.getiD }}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" name="button" class="btn btn-danger">delete this client</button>
            </form>
        </div>
    </body>
</html>
