<!DOCTYPE html>
<html>
    <head>
    <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    <title>Edit Stylist</title>
    </head>
    <body>
        <div class="container">
            <h1>Stylist profile: {{ stylist.getName }}</h1>
            <form action="/editstylist/{{ stylist.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <input type="text" name="stylist_name" value="">
                <button type="submit" name="button" class="btn btn-info">edit this stylist's name</button>
            </form>
            <form action="/stylist/{{ stylist.getId }}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" name="button" class="btn btn-danger">Delete this stylist</button>
            </form>
        </div>
    </body>
</html>
