<html>
  <head>
    <meta charset="utf-8">
    <title>Styles</title>
  </head>
  <body>
     <h1>Welcome</h1>
     <form action="/" method="post">
      <h3>Please enter the name of a new stylist</h3>
      <input type="text" name="stylist_input" value="">
      <button type="submit" name="button">Submit</button>
     </form>
     <form action='/clear'>
       <button type="submit" name="button">Clear all</button>
     </form>
     {% if stylists is not empty %}
         <h2>Stylists</h2>
             <ul>
             {% for stylist in stylists %}
                 <li><a href='/stylist/{{ stylist.getiD}}'>{{ stylist.getName }}</a></li>
             {% endfor %}
         </ul>
     {% endif %}
  </body>
</html>
